<ngb-carousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let img of images">
		<div class="picsum-img-wrapper" >
			<img class="cakes-images-carousel" [src]="img.path" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h2 class="cakes-Header-carousel">{{img.picHeader}}</h2>
		</div>
	</ng-template>
</ngb-carousel>
<div class="card">
	<div class="card-body">
		<div class="container pt-5">
			<div class="row">
				<div class="col-md-4 col-sm-12  d-flex justify-content-center">
					<img src="../../../assets/mainimg/velvat.jpeg" height="250px" width="250px" class="cake-img">	
				</div>
				<div class="col-md-8 col-sm-12 pt-4 pad-content-left">
					<h2 class="d-flex"  [ngClass]="{'justify-content-center': innerWidth == true}"><b>Red velvet</b></h2>
					<p> cake is traditionally a red, crimson, or scarlet-colored layer cake, layered with ermine icing.</p>
					<p>Common ingredients include buttermilk, butter, cocoa, vinegar, and flour. Beet juice or red food coloring may be used for the color.</p>
						<div class="btn-group" role="group" 
						aria-label="Basic example"  [ngClass]="{'justify-content-center': innerWidth == true, 'd-flex': innerWidth == true }">
							<button type="button" class="btn btn-secondary">Left</button>
							<button type="button" class="btn btn-secondary">1</button>
							<button type="button" class="btn btn-secondary">Right</button>
					  	</div>
				</div>
			</div>
			</div>
<div class="pb-5"></div>
	</div>
</div>
	
