.cakes-images-carousel{
    width:100vw;
    height: 100vh;
}

.cakes-Header-carousel{
    color: red;
    text-shadow: 2px 1px pink;
}

.cake-img{
    box-shadow: 4px 4px red;
    border-radius: 10px;
}

.pad-content-left{
    padding-left: 3rem;
}

@media screen and (max-width: 750px) {
    .cakes-images-carousel{
        height: 40vh;
    }
  }


@media screen and (max-width: 750px) {
    
}

.btn-success {
  background-color: #89f08c;
}

.row{
    border-top: red 1px solid;
}